body {
  background: #f2f2f2;
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: auto auto auto 300px;
}

.container .column {
  width: 50%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.side-nav .user-view, .side-nav .userView {
  padding-top: 50%;
}
.side-nav li>a {
    text-align: right;
}
.nav-wrapper .input-field input[type=search] {
    height: 40px;
}
.side-nav.fixed {
  width: 250px;
}
video {
width: 100%;
height: 100%;
}
@media (max-width: 1200px) {
  .container {
    margin: auto 0 auto 300px;
  }
}

@media only screen and (max-width: 992px) {
  body .side-nav.fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  .container {
    margin: 0 auto;
    width: 100%;
  }
}