body {
  background: #f2f2f2;
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.side-nav .user-view, .side-nav .userView {
  padding-top: 50%;
}
.side-nav li>a {
    text-align: right;
}
.nav-wrapper .input-field input[type=search] {
    height: 40px;
}
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #f2f2f2;
  min-width: 270px;
  height: 250px;
  margin-right: 20%;

  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .thumbnail {
  background: #000000;
  height: 200px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  margin-right: 10%;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;

  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.post-module .post-content .title {
  margin: 0;
  margin-top: -30px;
  padding: 0 0 10px;
  color: #333333;
  background: #f2f2f2;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.container {
  max-width: 800px;
  min-width: 640px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}
.container .column {
  width: 50%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.container .row {
  margin-left: 2rem;
  margin-right: -5rem;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
@media (max-width: 1200px) {
  .container .row {
    margin-left: 10rem;
    margin-right: 5rem;
  }
}

@media (max-width: 1000px) {
  .container .row {
    margin-left: 10rem;
    margin-right: 5rem;
  }
}
