<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
{% include "anime/nav.html" %}
<div class="container">
    <video controls autoplay="autoplay">
        <source src="{{ url_for('static', filename=current_detail.file) }}"
                type="video/mp4">
        <source src="{{ url_for('static', filename=current_detail.file) }}"
                type="video/avi">
        {% if current_detail.file_vtt %}
            <track kind="subtitles" label="korean subtitles"
                   src="{{ url_for('static', filename=current_detail.file_vtt) }}"
                   srclang="ko" default>
        {% endif %}
    </video>
    {% if current_detail.episode > 1 %}
        <a class="waves-effect waves-light btn" href="{{ url_for('anime.show_anime', anime_id = current_detail.anime_id, episode = current_detail.episode - 1) }}"> 이전화 보기</a>
    {% endif %}
    <a class="waves-effect waves-light btn" href="{{ url_for('anime.anime_detail', anime_id = current_detail.anime_id) }}"> 목록 보기</a>
    {% if has_next_episode %}
        <a class="waves-effect waves-light btn" href="{{ url_for('anime.show_anime', anime_id = current_detail.anime_id, episode = current_detail.episode + 1) }}"> 다음화 보기</a>
    {% endif %}
</div>
</body>
</html>
