<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="row">
            {% for row in rows %}
                <div class="col s12 m7 l4 xl3 ">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                            {% if row[5] %}
                                <div class="date">
                                    <div class="day">N</div>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('anime_detail', title=row[1], anime_id=row[0]) }}">
                                <img src="images/{{ row[3] }}" height=200px/> {{ row[2] }}
                            </a>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <h3 class="title">{{ row[1] }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
