<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.srt.js"></script>
</head>
<body>
<video controls autoplay="autoplay">
    <source src="{{ anipath }}" type="video/mp4">
    <source src="{{ anipath }}" type="video/avi">
    {% if vttpath %}
        <track kind="subtitles" label="korean subtitles"
               src="{{ vttpath }}" srclang="ko" default>
    {% endif %}
</video>
</body>
</html>
