<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% include "anime/nav.html" %}
    <div class="container">
        <div class="row">
            {% for anime in animes %}
                <div class="col s12 m7 l4 xl3 ">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                            {% if anime.is_new %}
                                <div class="date">
                                    <div class="day">N</div>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('anime.anime_detail', anime_id=anime.id) }}">
                                <img src="images/{{ anime.anime_image }}" height=200px/>
                            </a>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <h3 class="title">{{ anime.title }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
